* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #000000;
}

.time {
  font-size: 8rem;
}

h1 {
  margin-bottom: 3rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
  font-size: 2rem;
}

.btn {
  width: 60px;
  height: 60px;
  border: 0;
  background: url("https://www.pngarts.com/files/7/Update-Button-PNG-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
  margin: 10px;
 
}
.btn:hover {
  filter: grayscale(.8);
}
.btn:active,
.btn:focus {
  outline: 0;
}
.btn:active{
  transform: scale(1.02)
}

@media (max-width: 700px) {
  .time {
    font-size: 6rem;
  }
}
.date {
  font-size: 3rem;
  margin-bottom: 4rem;
}
.name {
  font-style: italic;
font-weight: lighter;
}
.focus {
  font-style: italic;
  font-weight: lighter;
}
.weather-container {
 
  border-radius: 25px;
  margin: 3rem;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  
 
}
.weather-icon {
  font-size: 50px;
  margin-top: 25px;
}
.weather-description {
  padding: 0 50px;
font-size: 18px;
}
.city {
  margin-top: 5px;
  color: #eb8080;
margin-bottom: 25px;
}
.wind {
  color: #eb8080;
}
.temperature {
  font-size: 19px;
font-weight: bold;
color: #eb8080;
}
.temp-info {
  display: flex;
justify-content: space-around;
margin: 9px;
}
.center {
  display: flex;
flex-wrap: wrap;
align-content: center;
align-items: center;
justify-content: space-between;
column-gap: 10rem;
padding: 5rem;
background-color: #89898930;
}
.right {
  display: flex;
flex-direction: column;
align-content: center;
align-items: center;
align-self: center;
margin: auto;
}
.left {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  align-self: center;
  margin: auto;
}

.quote {
  font: 1.2rem Georgia, serif;
  margin: 0;
 
  padding: 1em;
  border-radius: 1em;
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
}
.quote figcaption {
  text-align: right;
}
